{% extends 'Areas/User/base.html.twig' %}

{% block title %}
  Liste des quizs
{% endblock %}

{% block body %}
  <div class="row">
    <div class="small-12 columns">
    <h1 class="center-text font-bungee">Liste des quizs disponibles</h1>
    {% if quizs|length == 0 %}
      <div class="center-text border-shadow">
          Aucun quiz trouvé
      </div>
    {% else %}
    <div class="border-shadow">
      <table>
        <thead>
          <tr>
            <th> 
              Nom
            </th>
            <th>
              Autres
            </th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in quizs%}
             <tr>
               <td><a href="{{url('app_do_quiz', {'id' : quiz.id})}}">{{ quiz.Name}}</a></td>
               <td>Style à revoir ! Lien à rendre cliquable vers ... je sais pas ? !</td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}
    </div>
  </div>
  

{% endblock %}