{% extends 'Areas/Admin/base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <ul class="menu">
    <li><a href="#">Bonjour {{ name }}</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
    </ul>

{% endblock %}
