{% extends 'Areas/Admin/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="row">
        <div class='small-12 columns'>
            <div class="text-center">
                <h1 class="font-bungee" >Liste de utilisateurs</h1>
            </div>
            {% if users|length == 0 %}
            <div class="center-text border-shadow">
                Aucun utilisateur trouvé
            </div>
            {% else %}
            <div class="border-shadow">
            <table>
                <thead>
                <tr>
                    <th> 
                    Nom
                    </th>
                    <th>
                    Action
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for user in users%}
                    <tr>
                    <td>{{ user.Username}}</a></td>
                    <td> 
                        {% if 'ROLE_ADMIN' not in user.Roles %}
                        <a href="{{url('app_admin_delete_user', {'id': user.id})}}">
                            <i class="fa fa-times" title="Supprimer l'utilisateur"></i>
                        </a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            {% endif %}
            </div>
      </div>

{% endblock %}
