{% extends 'Areas/User/base.html.twig' %}
{% block title %}Inscription{% endblock %}


{% block body %}
<div class="row align-center">
    <div class="small-12 medium-6 columns border-quiz">
        <h1 class="center-text">Inscription</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            <div class="right-text">
                <button class="btn">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
    
</div>

{% endblock %}
