#quizName {
    color:white;
    border: 1px solid $primary-color;
    border-radius: 10px;
    font-size: 2.5em;
    margin-bottom: $global-margin;
    background: linear-gradient($primary-color,$second-color);
}

.questionQuiz {
    color: $primary-color;
    font-size: 1.5em;
}

.responseQuiz {
    margin:$global-margin;
    border: 1px solid $primary-color;
    border-radius: 2%;
    font-size: 1.0em;
    background: linear-gradient($primary-color, $second-color) !important;
    color: white;
    padding: $global-padding;
}

.wrongAnswer {
    background-color:red;
}

.rightAnswer {
    background-color:green;
}

.border-quiz {
    border: $primary-color 5px solid;
	border-radius: 10px;
    padding:$global-padding;
    margin-bottom: $global-margin * 3;
    box-shadow: 10px 10px 10px #AAAAAA;
}

.title-quiz {
    background: linear-gradient($primary-color,$second-color);
    border-radius: 10px;
    color: white;
}