.relative {
    position:relative;
}

.no-mar-bottom {
    margin-bottom:none;
}

.mar-bottom {
    margin-bottom: $global-margin;
}

.mar-top {
    margin-top: $global-margin;
}


.centered {
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button,button {
    background:linear-gradient($primary-color,$second-color) !important;
    color:white;
    padding:$global-padding !important;
}

.table {
    display:table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}

.center-text {
  text-align:center;
}

.right-text {
  text-align:right;
}

label {
  display:inline-block !important;
}

.hidden {
    display:none;
}

.fa {
    color:$primary-color;
}

i {
    margin-left:$global-margin;
}

[data-dropdown-menu] {
    border:1px solid $primary-color;
    border-radius:7%;
}

@media only screen and (orientation:portrait) {
    .supp-padding{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@font-face {
    font-family: ('bungee');
    src: url('../font/Bungee-Regular.otf');
}

.font-bungee {
    font-family: bungee;
    font-size: 220%;
    box-shadow: 3px 3px 12px #acacac;
}

.border-shadow {
    box-shadow: 3px 3px 12px #acacac;
}