.relative {
    position:relative;
}

.no-mar-bottom {
    margin-bottom:none;
}


.centered {
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button,button {
    background-color:$blue !important;
    color:white;
    padding:$global-padding !important;
}
