.relative {
    position:relative;
}

.no-mar-bottom {
    margin-bottom:none;
}

.mar-bottom {
    margin-bottom: $global-margin;
}


.centered {
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button,button {
    background-color:$primary-color !important;
    color:white;
    padding:$global-padding !important;
}

.table {
    display:table;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
}
