
<div class="row loginBlock">
    <div class="small-12 columns">
        <h1>Création d'un quizz</h1>

        {{ form_start(CreateQuizForm) }}
            {{ form_row(CreateQuizForm.Name) }}
            {{ form_row(CreateQuizForm.isVisible) }}

            <button class="btn">Créer</button>
        {{ form_end(CreateQuizForm) }}
    </div>

</div>
